<div class = "navigationBar">
	<button class="button" type="button"><a class = "link" href="/">Home</a></button>
	<button class="button" type="button"><a class = "link" href="/about">About</a></button>
	<button class="button" type="button"><a class = "link" href="/contact">Contact</a></button>
</div>