<!doctype html>
<html lang="en">
  <head>
    <title>Express Website</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/form.js"></script>
  </head>

  <body>
  		<header-tag headerData=input.headerData/>
  	<!-- you cannot put a dynamic expression in paranthesis of include.so first require it. -->
  		$ var filePath = require(input.filePath);
  		<include(filePath)/>
  </body>
</html>
